body{
  font-family: 'Shadows Into Light', cursive;
}
h1{
  font-size:8rem;
  margin:2rem;
}
h5{
  margin-top:4rem;
  cursor:pointer;
  font-size:3rem;
}
p{
  font-size:3rem;
}
h5:hover{
  text-shadow: 1px 1px #000000;
}
.sc{
  margin-top:4rem;
}
.c{
  padding-left: 0rem;
  padding-right: 0rem;
  width:10rem;
  height:10rem;
  font-size:6rem;
  font-family: 'Shadows Into Light', cursive;
  border: 1px solid #000000;
}
.r{
  width: 30rem;
  margin:0rem auto;
}
.tl{
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
.tm{
  border-top: 1px solid #ffffff;
}
.tr{
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.ml{
  border-left: 1px solid #ffffff;
}
.mr{
  border-right: 1px solid #ffffff;
}
.bl{
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.bm{
  border-bottom: 1px solid #ffffff;
}
.br{
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
